@font-face {
    font-family: 'bebas_neue_regular';
    src: url(../fonts/BebasNeueRegular.ttf);
}
@font-face {
    font-family: 'pt_sans_narrow';
    src: url(../fonts/PTSansNarrow.ttf);
}
@font-face {
    font-family: 'solomon_sans_black';
    src: url(../fonts/SolomonSansBlack.ttf);
}